<!DOCTYPE html>
<html lang="en">
    <%-include ("../partials/head.ejs")%>
<body>
<div class="main-wrapper">
    <%-include ("../partials/header.ejs",{admin:admin})%>
    <%-include ("../partials/sidebar.ejs")%>
<div class="page-wrapper">
<div class="content container-fluid">
<div class="page-header">
<div class="row">
<div class="col">
<h3 class="page-title">Expenses</h3>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
<div class="table-responsive">
<table class="table  datanew ">
<thead>
<tr>
<th>Reason</th>
<th>Amount</th>
<!-- <th>Quantity</th>
<th>size</th> -->
<!-- <th>Start date</th>
<th>Salary</th> -->
</tr>
</thead>
<tbody>
    <%Data.forEach(expense=>{%>
        <tr>
        <td><%=expense.data().reason%></td>
        <td><%=expense.data().amount%></td>
        <!-- <td>2011/04/25</td>
        <td>$320,800</td> -->
        </tr>
        <%})%>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<%-include ("../partials/scripts.ejs")%>
</body>
</html>